@charset "UTF-8";

html, body {
    font-family: Philosopher;
}

button {
    font-family: Philosopher;
    background-color: #3964a1;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding-bottom: 0.1rem;
}

.wrapper {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

.headers {
    gap: 3rem;
    margin: 2rem 0 2rem;
    font-size: 1.1rem;
    color: #432;
}

.headers p:hover {
    color: #13325d;
    cursor: pointer;
    text-decoration: underline;
}

#myPageModal {
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    inset: 7rem 0 auto;
    margin: auto;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.stamp-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    margin: 1.3rem auto;
}

.image-container {
    position: relative;
    display: inline-block;
}

.hotspot {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.2);
    cursor: pointer;
}

.hotspot:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

#yil {
    top: 110px;
    left: 1080px;
}

#locationModal {
    width: 500px;
    height: 550px;
    background-color: white;
    border-radius: 16px;
    position: absolute;
    inset: 7rem 0 auto;
    margin: auto;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #432;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#checkinButton {
    margin: 2rem 0;
    height: 50px;
    width: 120px;
}

#closeButton, #closeMyPageButton {
    position: absolute;
    bottom: 1.2rem;
    height: 30px;
    width: 60px;
}

#closeButton:hover, #checkinButton:hover, #closeMyPageButton:hover {
    background-color: #13325d;
}

#mask, #maskM {
    background: rgba(0, 0, 0, .1);
    position: fixed;
    inset: 0;
    z-index: 9998;
    opacity: 0;
    visibility: hidden;
}

#locationName {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
}

#yil-img {
    margin-top: 2rem;
    width: 400px;
}
